<form id="select_step_1">
  <fieldset>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title">Requirements</h1 class="panel-title">
      </div>
      <div class="panel-body">
        <ul class="visa-requirements-list">
        <% @visa_type.visa_requirements.each do |req| %>
              <li for="help_<%= req.id %>"><%= req.description %></li>
        <% end %>
        </ul>
        <p>Do you meet the requirement </p>

        <div class="row custom-margin-left">
          <%= link_to "I'm not sure", "#", class: "btn btn-primary btn-lg btn-custom" %>
          <%= link_to "Yes", "applicant_details", class: "btn btn-primary btn-lg btn-custom" %>
        </div>

      </div>
    </div>


  </fieldset>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
</form>
