
<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Dear, Admin</h1>
<p>
  A payment for <b><%= @package_detail.name %></b> has been received.
</p>
<p>
  The details are as below:
</p>

<p>
Email: <%= @user.email%>
  <br>
Name: <%= @user.user_detail.full_name %>
  <br>

  Package: <%= @package_detail.name %>
  <br>

  Amount paid: AUD <%= number_to_currency @user.payment.amount_paid %>

</p>
</body>
</html>