<div class="header">
  <h2>Sign in</h2>
</div>
<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="row">
    <div class="col-sm-12">
      <%= f.input :email, autofocus: true, input_html: { class: "form-control" }  %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <%= f.input :password, autocomplete: "off", input_html: { class: "form-control" } %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <%= f.input :remember_me, as: :boolean, render_input_first: false, input_html: { class: "form-check-input" }  if devise_mapping.rememberable?%>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <%= f.submit "Log in", class: "btn btn-primary signinButton" %>
    </div>
  </div>
<% end %>
<div class="links row">
  <div class="col-sm-12">
    <%= render "users/shared/links" %>
  </div>
</div>
