<div class="login-page">
  <div class="logo">
    <%= image_tag('logo.png', title: 'simplesettler', alt: 'simplesettler', class: 'logo spacer-bottom') %>
  </div>
  <div class="form">
    <%= render 'users/registrations/new' %>
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'login-form', id: 'user-login' }) do |f| %>
      <h3>Login</h3>
      <%= f.input :email, autofocus: true, input_html: { placeholder: "Email", id: "login-email", class: "spacer" }, label: false  %>
      <%= f.input :password, autocomplete: "off", input_html: { placeholder: "Password", id: "login-password" }, label: false %>
      <%= f.submit "Log in", class: "ss-button" %>
      <p class="message">
        <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
        Not registered? <%= link_to "Create an account", new_registration_path(resource_name) %>
      </p>
    <% end %>
  </div>
</div>
<script type="text/javascript">
  $('.message a').click(function(e){
    e.preventDefault();
    console.log($(e));
     $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
  });
</script>
