<% breadcrumb :admin_article, @article, style: :bootstrap %>
<div class="articles">
  <%= simple_form_for [:admin, @article], html: {:multipart => true} do |f| %>
    <div class="row admin m-t-2">
      <div class="col-sm-8">
        <h2><%= @article.new_record? ? 'New Article' : 'Edit Article' %></h2>
        <%= label_tag "meta-show", class: 'meta-check',  data: {toggle: '.meta-info'} do %>
          <i class="fa fa-plus meta-check" aria-hidden="true"></i>
          Show meta settings
        <% end %>
        <div class="meta-info m-t-1" style="display:none">
          <h3>Meta Settings</h3>
          <div class="form-group row">
            <div class="col-sm-12">
              <%= f.input :meta_title, label: false, input_html: { placeholder: 'Meta title', class: 'form-control' } %>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-12">
              <%= f.input :meta_description, input_html: { class: 'form-control' } %>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-12">
              <%= f.input :meta_keywords, as: :string, label: false, input_html: { placeholder: 'Keywords', class: 'form-control' } %>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-12">
            <%= f.input :featured, as: :boolean, label: false, inline_label: "Featured Article?", input_html: { class: 'checkbox article-check', data: { boolean_toggle: '.article-url' } } %>
          </div>
        </div>

        <div class="form-group row article-url" style="<%= @article.featured? ? 'display:block' : 'display:none' %>">
          <div class="col-sm-12">
            <%= f.input :external_url, label: false, input_html: { placeholder: "External URL", class: 'form-control' } %>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-12">
            <%= f.input :title, label: false, input_html: { placeholder: 'Title', class: 'form-control' } %>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-12">
            <%= f.cktext_area :content, input_html: { class: 'form-control' } %>
          </div>
        </div>
        <div class="form-group row">
          <% if @article.image.present? %>
            <div class="col-sm-1">
              <%= image_tag @article.image.thumb.url %>
            </div>
          <% end %>
          <div class="col-sm-11">
            <%= f.hidden_field :image_cache %>
            <%= f.file_field(:image) %>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-12">
            <%= f.submit class: 'btn btn-primary' %>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="form-group row">
          <div class="col-sm-12">
            <%= f.input :status, collection: Article.statuses.keys, include_blank: false, input_html: { class: 'form-control' } %>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-12">
            <%= f.association :cities, collection: City.all, include_blank: false, input_html: { class: 'form-control' } %>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-12">
            <%= f.association :category, collection: Category.all, include_blank: false, input_html: { class: 'form-control' } %><br/>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
