<div class="row admin form-group m-t-2">
  <div class="col-sm-8 col-sm-offset-2">
    <h2><%= @article.new_record? ? 'New Article' : 'Edit Article' %></h2>
    <%= simple_form_for [:admin, @article], html: {:multipart => true} do |f| %>
      <%= f.input :title, input_html: { placeholder: 'Title', class: 'form-control' } %>
      <%= f.cktext_area :content, input_html: { class: 'form-control' } %>
      <%= f.input :status, collection: Article.statuses.keys, input_html: { class: 'form-control' } %>
      <%= f.association :cities, collection: City.all, prompt: 'Select Cities', input_html: { class: 'form-control' } %>
      <%= f.file_field :image, class: 'form-control' %>
      <%= f.hidden_field :image_cache %>
      <%= f.association :category, collection: Category.all, prompt: 'Select category', label: false, input_html: { class: 'form-control' } %><br/>
      <%= f.submit class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
