<h4><%= @article.new_record? ? 'New Article' : 'Edit Article' %></h4>
<div class="row admin form-group m-t-2">
  <%= simple_form_for [:admin, @article], html: {:multipart => true} do |f| %>
    <div class="col-sm-8">
      <div class="row">
        <div class="col-sm-12">
          <%= f.input :title, input_html: { placeholder: 'Title', class: 'form-control' } %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <%= f.cktext_area :content, input_html: { class: 'form-control' } %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="row">
            <% if @article.image.present? %>
              <div class="col-sm-2">
                <%= image_tag @article.image.thumb.url %>
              </div>
            <% end %>
            <div class="col-sm-10">
              <%= f.file_field :image, class: 'form-control' %>
              <%= f.hidden_field :image_cache %>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <%= f.submit 'Save', class: 'btn btn-primary' %>
          <%= link_to 'Cancel', admin_articles_path, class: 'btn btn-primary' %>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="row">
        <div class="col-sm-12">
          <%= f.input :status, collection: Article.statuses.keys, include_blank: false, input_html: { class: 'form-control' } %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <%= f.association :category, collection: Category.all, include_blank: false, input_html: { class: 'form-control' } %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <%= f.association :cities, collection: City.all, input_html: { class: 'form-control' } %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
