<div class="articles">
  <h2><%= @articles.model_name %></h2>
  <%= link_to "Add Article", new_admin_article_path, class: "btn btn-primary" %>
  <table class="table table-inverse">
    <thead>
      <tr>
      <%= sort_header :title, 'Title' %>
      <th>Cities</th>
      <%= sort_header :status, 'Status', class: 'hidden-sm-down' %>
      <th></th>
      <th></th>
      </tr>
    </thead>
    <tbody>
      <% @articles.each do |article| %>
      <tr id="article_<%= article.id %>">
        <td><%= article.title %></td>
        <td><%= article.cities.pluck(:name).join(", ") %></td>
        <td><%= article.status %></td>
        <td><%= link_to(raw("<i class='fa fa-pencil-square-o'></i>"), edit_admin_article_path(article)) %></td>
        <td><%= link_to(raw("<i class='fa fa-trash'></i>"), admin_article_path(article), method: 'delete', remote: true) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @articles %>
</div>
