<div class="articleForm">
  <%= form_for(@article, html: {:multipart => true}) do |f| %>
    <%= f.text_field :title, :placeholder => 'Title', class: 'articleEditTitle' %>
    <%= f.cktext_area :content, class: 'content' %>
    <%= f.file_field :image %><br />
    <%= f.hidden_field :image_cache %>
    <%= f.select :category_id, Category.pluck(:name, :id), {}%><br/>
    <%= f.submit class: 'submitFormButton' %>
  <% end %>
</div>
