<div class="articleForm">
  <%= form_for @article do |f| %>
    <%= f.text_field :title, :placeholder => 'Title', :class => 'articleEditTitle' %>
    <%= f.cktext_area :content, :class => 'content' %>
    <%= f.file_field :featured_image, :class => "selectCity"%><br />
    <%= f.select :city_id, City.pluck(:name, :id), {}, :class => 'articleEditCity' %><br/>
    <%= f.select :category_ids, Category.pluck(:name, :id), {}, :class => 'articleEditCity' %><br/>
    <%= f.submit :class => 'submitFormButton' %>
  <% end %>
</div>
