<div class="bannerArticle">
  <!-- <%= image_tag "articleHeader.jpg", :class => "imageArticle"%> -->
  <div class="bannerInfo">
    <h1><%= @article.title %></h1>
    <!-- <h2>Discover and connect with services in your city.</h2>
    <p>Currently available in Australia</p> -->
  </div>
</div>
<div class="bg">

    <div class="row articles">
      <div class="col-md-9 content">
        <%= image_tag @article.image, :class => "articleImage" %>
        <div class="articleContent">
          <h2><%= @article.title %></h2>
<!-- I think it's too much to have two sets of social media icons, I've hidden this one but you can re-enable it later by removing this comment.
                     <div class="share">
            <a href="" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</a>

            <a href="" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a>

            <a href="" class="google-plus"><i class="fa fa-google-plus" aria-hidden="true"></i> Google+</a>

            <a href="" class="pinterest"><i class="fa fa-pinterest-p" aria-hidden="true"></i> Pinterest</a>
          </div>
          <hr>
          
          --> 
          
          
          
          <p><%= raw(@article.content) %></p>

          <hr>

          <div class="share">
            <a href="#" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</a>

            <a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a>

            <a href="#" class="google-plus"><i class="fa fa-google-plus" aria-hidden="true"></i> Google+</a>

            <a href="#" class="pinterest"><i class="fa fa-pinterest-p" aria-hidden="true"></i> Pinterest</a>
          </div>

          <div class="helpful">
            <h3>Was this article helpful?</h3>
            <%= link_to 'Yes', check_helpful_path(@article, 'Yes'), :class => 'yes', :remote => true %>
            <%= link_to 'No', check_helpful_path(@article, 'No'), :class => 'no', :remote => true %>
          </div>

          <div id="disqus_thread"></div>

          <script>
            (function() { // Disqus
            var d = document, s = d.createElement('script');
            s.src = '//easysettler.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
          </script>
          <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>


        </div>
      </div>
      <div class="aside col-md-3">
        <% @articles.each do |a| %>
          <div class="articlesAll">
            <%= link_to "#{a.title}", article_path(a), :class => "aLink"%>
            <%= image_tag a.image %>
          </div>
        <% end %>
      </div>
    </div>


    <% if user_signed_in? && current_user.admin? %>
      <%= button_to 'delete', @article, :method => 'delete'%>
    <% end %>

</div>