<% meta_tag :description, @article.meta_description %>
<% meta_tag :keywords, @article.keywords %>
<div class="bannerArticle">
  <%= image_tag @article.image.large.url %>
  <div class="bannerInfo">
    <h1><%= @article.title %></h1>
  </div>
</div>
<div class="bg">
    <div class="row articles">
      <div class="col-sm-10 col-sm-offset-1 content">
        <div class="row">
          <div class="col-sm-12">
            <div class="articleContent">
              <%= raw(@article.content) %>
            </div>
        </div>
      </div>
        <div class="row">
          <div class="col-sm-12 share">
            <a href="#" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</a>

            <a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a>

            <a href="#" class="google-plus"><i class="fa fa-google-plus" aria-hidden="true"></i> Google+</a>

            <a href="#" class="pinterest"><i class="fa fa-pinterest-p" aria-hidden="true"></i> Pinterest</a>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 helpful">
            <h3>Was this article helpful?</h3>
            <%= link_to 'Yes', article_feedback_path(@article, 'Yes'), { class: 'yes', :remote => true, method: :post }  %>
            <%= link_to 'No', article_feedback_path(@article, 'No'), { class: 'no', :remote => true, method: :post } %>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 share">
            <div id="disqus_thread"></div>
            <script>
              (function() { // Disqus
              var d = document, s = d.createElement('script');
              s.src = '//easysettler.disqus.com/embed.js';
              s.setAttribute('data-timestamp', +new Date());
              (d.head || d.body).appendChild(s);
              })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
          </div>
        </div>
      <div class="row aside">
        <% @articles.each do |a| %>
          <div class="col-sm-6 col-xs-12 col-md-6 col-lg-4 articlesAll">
            <%= link_to "#{a.title}", city_article_path(current_city, a), class: "aLink"%>
            <%= image_tag a.image_url %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
