<% breadcrumb :admin_faq, @faq, style: :bootstrap %>
<div class="articles">
  <%= simple_form_for [:admin, @faq], input_html: { class: 'form-control' } do |f| %>
      <div class="row admin form-group m-t-2">
        <div class="col-sm-8 col-sm-offset-2">
          <h2><%= @faq.new_record? ? 'New Faq' : 'Edit Faq' %></h2>
          <div class="form-group row">
            <div class="col-sm-12">
              <%= f.input :title, input_html: { class: 'form-control' } %>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-12">
              <%= f.text_area :content, input_html: { class: 'form-control' } %>
            </div>
          </div>

          <%= f.submit class: 'btn btn-primary' %>
          <%= link_to 'Back', admin_faqs_path, class: 'btn btn-warning' %>

        </div>
      </div>
  <% end %>
</div>
