<footer>
  <div class="footer" id="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-4  col-md-4 col-sm-4 col-xs-12">
          <h4><%= t('site.footer.company.title') %></h4>
          <ul>
            <li><%= link_to t('site.footer.company.home'), root_path %></li>
            <li><%= link_to t('site.footer.company.about'), about_path %></li>
            <li><%= link_to t('site.footer.support.tos'), tos_path %></li>
            <li><%= link_to t('site.nav.help'), '/dashboard', class: "primary-btn ss-button" %></li>
          </ul>
        </div>
        <div class="col-lg-4  col-md-4 col-sm-4 col-xs-12">
          <h4><%= t('site.footer.subscribe.label') %></h4>
          <ul>
            <li class="ss-input-container subscribe">
              <%= form_tag '/subscribe', id: 'subscribe' do %>
                <%= text_field_tag :email, nil, class: 'ss-input', :placeholder => t('site.footer.subscribe.placeholder') %>
                <%= button_tag(type: 'submit') do %>
                  <i class="fa fa-paper-plane"></i>
                <% end %>
              <% end %>
            </li>
          </ul>
        </div>
        <div class="col-lg-4  col-md-4 col-sm-4 col-xs-12">
          <h4><%= t('site.footer.subscribe.follow') %></h4>
          <ul class="social">
            <li>
              <%= link_to("https://www.facebook.com/simplesettler", target: '_blank') do %>
                <i class="fa fa-facebook-square" aria-hidden="true"></i>
              <% end %>
            </li>
            <li>
              <%= link_to("https://twitter.com/simplesettler", target: '_blank') do %>
                <i class="fa fa-twitter" aria-hidden="true"></i>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <hr class="footer-divider">
        <div class="col-sm-12">
          <div class="footer-disclaimer">
            <a style="font-size: 13px;" href="/privacy">Privacy Policy</a><span> | Copyright © 2017 SimpleSettler</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<script>
$(function(){
  $('#subscribe').on('submit', function(e){
    e.preventDefault();
    var email_address = $('#subscribe > #email').val();
    $.ajax({
      method: "GET",
      header: 'content-type: application/json',
      url: "/subscribe?email=" + email_address,
      success: function(data) {
        $('.subscribe').html('<div>'+ data['message']+'</div>');
      },
      error: function (data) {
        $('#subscribe').append('<div>'+ data.responseJSON.error + '</div>');
      }
    });
  });
})
</script>
