<%= content_tag_for(:tr, payment) do %>
  <td><%= payment.user.user_detail.f_name+ " " +payment.user.user_detail.l_name %></td>
  <td><%= payment.user.email %></td>
  <td><%= payment.amount_paid %></td>
  <td><%= l payment.created_at %></td>
  <td><%= link_to(raw("<i class='fa fa-eye'></i>"), admin_payment_path(payment)) %></td>
<% end %>
