<script type="text/javascript">
  $(document).ready(function () {
    $(".datepicker").datepicker({
      buttonImage: "images/calendar.gif"
    });
  });
</script>
<%= form_tag("/post_application_details", id: "application_details", method: "post") do %>
    <fieldset>
      <h2>Visa Details</h2>


        <div class="form-group">
          <label for="current_visa">What visa are you currently on?</label>

          <%= select_tag("current_visa", options_from_collection_for_select(@visa_types, "id", "name"), {:class => "form-control", prompt: "Select Visa Type"}) %>
        </div>

        <div class="form-group">
          <label for="seeking_visa">What visa are you seeking?</label>

          <%= select_tag("seeking_visa", options_from_collection_for_select(@visa_types, "id", "name"), {:class => "form-control", prompt: "Select Visa Type"}) %>
        </div>


        <div class="form-group">
          <label for="currently_in_desired_country">Are you currently living in the country you wish to settle
            in?</label>

          <%= select_tag("currently_in_desired_country", options_for_select({"YES" => 1, "NO" => 0}), {:class => "form-control"}) %>
        </div>

        <div class="form-group">
          <label for="done_ielts">Have you done IELTS in last two years?</label>

          <%= select_tag("done_ielts", options_for_select({"YES" => 1, "NO" => 0}), {:class => "form-control"}) %>
        </div>


        <div class="form-group">
          <label for="visa_expiry">When does your visa expire?</label>
          <div class="inner-addon right-addon">
            <i class="glyphicon glyphicon-calendar"></i>
            <input type="text" name="visa_expiry" class="form-control datepicker">
          </div>
        </div>
    </fieldset>



    <fieldset>
      <h2>Appointment Details</h2>

      <div class="form-group">
        <label for="appointment_date">When would you like to see an agent? </label>
        <div class="inner-addon right-addon">
          <i class="glyphicon glyphicon-calendar"></i>
          <input type="text" name="appointment_date" class="form-control datepicker">
        </div>
      </div>


        <div class="form-group">
          <label for="require_translator">Do you require a translator?</label>

          <%= select_tag("require_translator", options_for_select({"YES" => 1, "NO" => 0}), {:class => "form-control"}) %>
        </div>

      <div class="form-group">
        <label for="require_translator">What language do you speak?</label>

        <%= select_tag("require_translator", options_for_select(language_list), {:class => "form-control"}) %>
      </div>

    </fieldset>

    <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>

    <div class="row pay-row">
      <div class="col-md-12 text-center">
        <h3>IMPORTANT!</h3>
        <p>We respect yours and our agent's time. Hence we hold a small amount so both parties are commiteed. If you
        turn up to your consultation, we will refund your 100% amount. If you do not show up, we will keep this amount.</p>
      </div>
      <div class="col-md-12 text-center">
        <input type="submit" class="btn btn-primary btn-custom" value = "PAY $14.99">
      </div>

    </div>

<% end %>



