<div class="container">
  <h2><%= t('site.how_it_works.title') %></h2>
  <div class="content">
    <div class="numbers">
      <div class="spacer">
        <div>1</div>
        <div>2</div>
        <div>3</div>
        <div>4</div>
      </div>
      <div class="line"></div>
    </div>
    <div class="info">
      <div class="spacer">
        <div><%= t('site.how_it_works.search') %></div>
        <div><%= t('site.how_it_works.connect') %></div>
        <div><%= t('site.how_it_works.ask') %></div>
        <div><%= t('site.how_it_works.share') %></div>
      </div>
    </div>
  </div>
</div>
