<h1>Hi, <span class="green-text"><%= current_user.username %> </span>how can we help you?</h1>

<legend>Requirements</legend>

<ul class="requirements-list">
</ul>
<form id="select_step_1">
  <fieldset>
    <div class="form-group">

      <% @visa_type.visa_requirements.each do |req| %>

          <ul class="visa-requirements">
            <li for="help_<%= req.id %>"><%= req.description %></li>
          </ul>

      <% end %>
    </div>

    <p>Do you meet the requiremnt </p>

    <div class="row">
      <%= link_to "I'm not sure", "google.com", class: "btn btn-success" %>
      <%= link_to "Yes", "/", class: "btn btn-success" %>

    </div>
  </fieldset>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
</form>
