<div class="banner">
  <div>
    <h1>SETTLE ANYWHERE.</h1>
    <h2>Discover and connect with services in your city.</h2>
    <%= text_field :search, nil, :class => 'searchCity', :placeholder => 'Search your city' %>
    <p>Currently available in Australia</p>
  </div>
</div>

<div class="container">

  <div class="recommendedBy">
    <div class="logos one"></div>
    <div class="logos two"></div>
    <div class="logos three"></div>
  </div>

  <div class="explore">

    <div class="header">
      <h2>Explore your community</h2>
      <p>See whats happening in your community, or find new citys to explore.</p>
    </div>

    <div class="cities">
      <div class="rows">
      <% @cities.each do |c| %>
        <div class="<%= c.name %>">
          <%= link_to "#{(c.name).upcase}", city_path(c), :class => 'labelShort' %>
          <%= image_tag "#{c.name.downcase}.jpg", :class => "" %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="container">
  <div class="listings">
    <div class="header">
      <h2>Recent listings</h2>
      <p>Discover some of our best listings</p>
    </div>

    <div class="listingArticles">
      <div class="rows">
        <% @articles.each do |a| %>
          <div>
            <%= link_to "#{a.title}", article_path(a), :class => "articles" %>
            <%= image_tag a.featured_image %>
          </div>
        <% end %>
        <!-- <% @articles.each do |a| %>
          <div class="articles">
            <%= link_to "#{a.title}", article_path(a) %>
          </div>
        <% end %> -->
      </div>

    </div>
    <div class="allArticlesButton" >
    <%= link_to "View All", articles_path %>
    </div>
  </div>
</div>

<div class="getStarted">
  <div class="container">
    <h2>Not Enough? Speak to our experts.</h2>

    <div class="content">
      <p>Tell us about your needs and we’ll introduce you to several experienced professionals who can provide you with a step-by-step guide on helping you settle.</p>
      <%= link_to "Get Started", articles_path %>
    </div>
  </div>
</div>

<div class="container">
  <div id="howItWorks" class="howItWorks">
    <h2>How it works</h2>
    <div class="content">
      <div class="numbers">
        <div class="spacer">
          <div>1</div>
          <div>2</div>
          <div>3</div>
          <div>4</div>
        </div>
        <div class="line"></div>
      </div>
      <div class="info">
        <div class="spacer">
          <div>Search your city</div>
          <div>Get connected with services and people to help you settle smoothly</div>
          <div>Ask us any questions about your city and we will help you</div>
          <div>Share success of your story and unlock rewards!</div>
        </div>
      </div>
    </div>
  </div>

  <div class="settlerLove">
    <div class="header">
      <h2>Why people love simple settler</h2>
      <p>A one stop hub for everything in an unfamiliar city</p>
    </div>
    <div class="content">
      <div class="rows">
        <div class="love">
          <%= image_tag "icon1.jpg"%>
          <h3>Places To Eat</h3>
          <p>Find places to eat</p>
        </div>
        <div class="love">
          <%= image_tag "icon2.jpg"%>
          <h3>Job Assistance</h3>
          <p>Get help with finding a job</p>
        </div>
        <div class="love">
          <%= image_tag "icon3.jpg"%>
          <h3>Help With Visa</h3>
          <p>Extending visa or help staying permanently ? We can help</p>
        </div>
        <div class="love">
          <%= image_tag "icon4.jpg"%>
          <h3>Connect With Friendly Locals</h3>
          <p>Get integrated</p>
        </div>
        <div class="love">
          <%= image_tag "icon5.jpg"%>
          <h3>Live On A Budget</h3>
          <p>Get tips on best places to shop and save money!</p>
        </div>
        <div class="love">
          <%= image_tag "icon6.jpg"%>
          <h3>Tips In Getting Around</h3>
          <p>Access city hacks and tricks</p>
        </div>
        <div class="love">
          <%= image_tag "icon7.jpg"%>
          <h3>Activities</h3>
          <p>Things to do</p>
        </div>
        <div class="love">
          <%= image_tag "icon8.jpg"%>
          <h3>Accomodation Help</h3>
          <p>Find friendly suburbs or places to stay according to your budget</p>
        </div>
        <div class="love">
          <%= image_tag "icon9.jpg"%>
          <h3>Be Stress-Free</h3>
          <p>Ask us a question and we’ll take care of it!</p>
        </div>
      </div>
      <%=  link_to "Settle Somewhere", nil, :class => "searchCity button"%>
    </div>
  </div>
</div>

<div class="pageEnd">
  <div class="container">
    <div class="content">
      <h1>YOUR STRESS ENDS HERE. LET US HELP YOU.</h1>
      <%=  link_to "Search Your City", nil, :class => "searchCity button"%>
      <%=  link_to "Visa Help", nil, :class => "VisaHelp button"%>
    </div>
  </div>
</div>
