<div class="row">
  <div class="col-sm-12 banner">
    <%= image_tag "slider2.jpg", title: 'homepage banner', alt: 'banner' %>
    <div row>
      <div class="col-sm-12 content">
        <h1><%= t('site.header.title') %></h1>
        <h2><%= t('site.header.subtitle') %></h2>
        <%= form_tag(cities_path, method: "get", id: "search-form") do %>
          <%= text_field_tag :search, params[:search], placeholder: t('site.header.search.placeholder'), class: 'searchCity', pattern: ".{2,20}", title: 'Enter more than 1 character', data: { autocomplete: autocomplete_city_name_cities_path } %>
          <%= button_to nil, class: 'searchCitySubmit' do %><i class="fa fa-search" aria-hidden="true"></i><% end %><br />
        <% end %>
        <div class="ausFlag"></div>
        <div class="flagAvail">
          <em><p><%= t('site.header.currently_available') %></p></em>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'media' %>
<div class="row explore">
  <div class="col-sm-12 header">
    <h2><%= t('site.cities.title') %></h2>
    <p><%= t('site.cities.subtitle') %></p>
  </div>
</div>
<div class="row cities bottom-buffer">
  <div class="col-sm-12">
    <div class="row">
     <% @cities.each  do |city| %>
        <div class="col-xs-12 col-lg-4 bottom-buffer">
            <%= link_to city_path(city) do %>
              <h2><%= city.name.upcase %></h2>
              <%= image_tag "#{city.name.downcase}.jpg" %>
            <% end %>
        </div>
    <% end %>
    </div>
  </div>
</div>
<%= render 'speak_to_experts' %>
<%= render 'page_end' %>
