<div class="container-fluid header">
  <%= image_tag @banner.present? ? @banner.media.large.url : "slider2.jpg", title: 'homepage banner', alt: 'banner' %>
  <div class="ro text-center">
    <div class="col-md-12">
      <div class="carousel-caption" id="startchange">
        <h1><%= t('site.header.title') %></h1>
        <h2><%= t('site.header.subtitle') %></h2>
        <div class="banner-search">
          <%= text_field_tag :search, params[:search], placeholder: t('site.header.search.placeholder'), class: 'search-city', pattern: ".{2,20}", title: 'Enter more than 1 character', data: { autocomplete: autocomplete_city_name_cities_path } %>
          <button>
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'media' %>
<div class="row spacer">
  <div class="col-sm-12 text-center">
    <h2><%= t('site.cities.title') %></h2>
    <p><%= t('site.cities.subtitle') %></p>
  </div>
</div>
<div class="row is-flex spacer">
     <% @cities.each  do |city| %>
        <div class="col-sm-4 grid-item">
          <div class="imagebox">
            <%= link_to city_path(city) do %>
              <h2 class="imagebox-desc"><%= city.name.upcase %></h2>
              <%= image_tag "#{city.name.downcase}.jpg" %>
            <% end %>
          </div>
        </div>
    <% end %>
</div>
<%= render 'speak_to_experts' %>
<%= render 'page_end' %>
