<% breadcrumb :admin_city, @city, style: :bootstrap %>
<%= simple_form_for [:admin, @city], input_html: { class: 'form-control' } do |f| %>
  <div class="row admin form-group m-t-2">
    <div class="col-sm-8 col-sm-offset-2">
      <h2><%= @city.new_record? ? 'New City' : 'Edit City' %></h2>
      <div class="form-group row">
        <div class="col-sm-12">
          <%= f.input :name, input_html: { class: 'form-control' } %>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-12">
          <%= country_select('city', 'country', { only: ['AU'] }, { class: "form-control" })  %>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-12">
          <%= f.input :description, input_html: { class: 'form-control' } %>
        </div>
      </div>
      <%= f.submit class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
