<%= content_tag_for(:tr, category) do %>
  <td><%= category.name %></td>
  <td><%= l category.created_at %></td>
  <td><%= link_to(raw("<i class='fa fa-pencil-square-o'></i>"), edit_admin_category_path(category)) %></td>
  <td><%= link_to(raw("<i class='fa fa-trash'></i>"), admin_category_path(category), method: 'delete', remote: true) %></td>
<% end %>
