<div class="row tab-content spacer-bottom">
  <% @categories.each do |category| %>
    <%= content_tag(:div, category, class: "tab-pane fade in #{ 'active' if default_category?(category.slug)}", id: set_css_category_id(category.slug)) do %>
      <% articles = current_city.articles_by_category(category&.id) %>
      <% if articles.present? %>
        <% if category.slug != 'getting-settled' || current_user&.present? %>
          <% articles.each do |article| %>
            <div class="col-xs-12 col-sm-4 grid-item">
              <div class="imagebox">
                <%= link_to(article.featured? ? article.external_url : city_article_path(current_city, article), title: article.title, target: article.featured? ? '_blank' : '') do %>
                  <span class="imagebox-desc"><%= article.title %></span>
                  <%= image_tag article.image.detail.url%>
                <% end %>
              </div>
            </div>
          <% end %>
          <% else  %>
            <div class="col-xs-12 spacer">
              <p>Please <%= link_to 'login', new_user_session_path %> to get more information about getting settled in <%= current_city.name %>.</p>
            </div>
          <% end %>
      <% end %>
    <% end %>
  <% end %>
  <%= content_tag(:div, 'Information', class: "tab-pane fade in", id: set_css_category_id('information')) do %>
    <div class="col-sm-12">
      <div class="row rating-highcharts">
        <div class="col-sm-6">
          <div class="ratings">
            <p>Weather  : <%= rating_for @city, 'weather', disable_after_rate: false %></p>
            <p>Cost of living : <%= rating_for @city, 'cost_of_living', disable_after_rate: false %></p>
            <p>Quality of life  : <%= rating_for @city, 'quality_of_life', disable_after_rate: false %></p>
            <p>Safety  : <%= rating_for @city, 'safety', disable_after_rate: false %></p>
          </div>
        </div>
        <div class="col-sm-6">
          <%= chart_for @city %>
        </div>
      </div>
    </div>
  <% end %>

</div>
