<div class="row tab-content spacer-bottom">
  <% @categories.each do |category| %>
    <%= content_tag(:div, category, class: "tab-pane fade in #{ 'active' if default_category?(category.slug)}", id: set_css_category_id(category.slug)) do %>
      <% articles = current_city.articles_by_category(category&.id) %>
      <% if articles.present? %>
        <% if category.slug != 'getting-settled' || current_user&.present? %>
          <% articles.each do |article| %>
            <div class="col-xs-12 col-sm-4 grid-item">
              <div class="imagebox">
                <%= link_to(article.featured? ? article.external_url : city_article_path(current_city, article), title: article.title, target: article.featured? ? '_blank' : '') do %>
                  <span class="imagebox-desc"><%= article.title %></span>
                  <%= image_tag article.image.detail.url%>
                <% end %>
              </div>
            </div>
          <% end %>
          <% else  %>
            <div class="col-xs-12 spacer">
              <p>Please <%= link_to 'login', new_user_session_path %> to get more information about getting settled in <%= current_city.name %>.</p>
            </div>
          <% end %>
      <% end %>
      <% if category.slug == 'information' %>
        <div class="center-category-row">
          <div class="row rating-highcharts">
            <div class="col-sm-4">
              <div>
                <a class="btn btn-success btn-green" href="#" id="open-review-box">Rate this city</a>
              </div>
              <div class="ratings" id="review-box" style="display:none;">
                <p>Weather  : <%= rating_for @city, 'weather' %></p>
                <p>Cost of living : <%= rating_for @city, 'cost_of_living' %></p>
                <p>Quality of life  : <%= rating_for @city, 'quality_of_life' %></p>
                <p>Safety  : <%= rating_for @city, 'safety' %></p>
              </div>
            </div>
            <div class="col-sm-8">
              <%= chart_for @city %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
<script>
$(function(){
  var reviewBox = $('#open-review-box');
  reviewBox.click(function(e){
    e.preventDefault();
    $('#review-box').slideToggle(400);
  });

})
</script>
