<div class="bannerCity">
  <%= image_tag "#{@city.name.downcase}.jpg", :class => "imageCity"%>
  <div class="bannerInfo">
    <h1><%= @city.name %></h1>
    <h2><em><%= @city.slogan %></em></h2>
    <p>Population: <%= @city.population %></p>
  </div>
</div>


<div id="Ratings" data-city-id="<%= @city.id %>">
  <p>Weather: <span class="rateYo weather" data-feedback="weather"></span><p>
  <p>Liveability: <span class="rateYo liveability" data-feedback="liveability"></span></p>
  <p>Movability: <span class="rateYo movability" data-feedback="movability"></span></p>
</div>

<script>
    $(function () {
      $(".rateYo.weather").rateYo({
        rating: <%= @feedbacks['weather'] %>,
        precision: 0,

        onSet: function (rating, rateYoInstance) {
          console.log("Rating is set to: " + rating);
          var feedback = $(this).data('feedback');
          var id = $(this).closest('#Ratings').data('city-id');

          $.post("/cities/"+id+"/rate/"+feedback,
            { rating: rating},
            function(data, status){
              console.log(status);
            });
        }
      });
      $(".rateYo.liveability").rateYo({
        rating: <%= @feedbacks['liveability'] %>,
        precision: 0,

        onSet: function (rating, rateYoInstance) {
          console.log("Rating is set to: " + rating);
          var feedback = $(this).data('feedback');
          var id = $(this).closest('#Ratings').data('city-id');

          $.post("/cities/"+id+"/rate/"+feedback,
            { rating: rating},
            function(data, status){
              console.log(status);
            });
        }
      });
      $(".rateYo.movability").rateYo({
        rating: <%= @feedbacks['movability'] %>,
        precision: 0,

        onSet: function (rating, rateYoInstance) {
          console.log("Rating is set to: " + rating);
          var feedback = $(this).data('feedback');
          var id = $(this).closest('#Ratings').data('city-id');

          $.post("/cities/"+id+"/rate/"+feedback,
            { rating: rating},
            function(data, status){
              console.log(status);
            });
        }
      });

    });
  </script>

<div class="categorySelectBg">
  <div class="container">

    <div class="categorySelect">
      <%= link_to 'All', city_articles_category_path(@city, 'All'), :remote => true, :class => "catAll"  %>
    </div>
    <% @categories.each do |c| %>
      <div class="categorySelect">
        <%= link_to c.name, city_articles_category_path(@city, c.name, :anchor => c.name.downcase), :remote => true %>
      </div>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="articleSelectContainer">
    <div class="rows">
      <% @articles.each do |a| %>
      <div class='articleCont'>
        <%= link_to a.title, article_path(a), :class => 'articleSelect' %>
        <%= image_tag a.featured_image, :class => "articleImg" %>
      </div>
      <% end %>
    </div>
  </div>

  <% if user_signed_in? && current_user.admin? %>
    <%= button_to 'delete', @city, :method => 'delete'%>
    <!-- <%= link_to 'edit', edit_city_path(@city) %> -->
  <% end %>
</div>
