<div class="container-fluid header">
  <%= image_tag "#{@city.name.downcase}.jpg", class: "imageCity" %>
  <div class="ro text-center">
    <div class="col-md-12">
      <div class="carousel-caption" id="startchange">
        <h1><%= @city.name %></h1>
        <h2><em><%= @city.slogan %></em></h2>
      </div>
    </div>
  </div>
</div>

<div class="row is-flex spacer">
  <% @categories.each_with_index do |category, i| %>
    <% i += 2 %>
    <div class="col-sm-4 grid-item article-category <%= category.slug %>">
      <%= link_to(city_category_path(@city, category), class: 'centered', remote: true) do %>
        <%= image_tag("cat#{i}.png", class: 'img-responsive') %>
        <span class="category"><%= category.name %></span>
      <% end %>
    </div>
  <% end %>
</div>

<% breadcrumb :site_root, style: :bootstrap %>
<div class="row articleSelectContainer">
  <div class="col-sm-12">
    <div class="row is-flex spacer">
      <%= render collection: @articles, partial: 'all_city_articles', as: :article %>
    </div>
  </div>
</div>
