<div class="bannerCity">
 <%= image_tag "#{@city.name.downcase}.jpg", class: "imageCity" %>
  <div class="bannerInfo">
    <h1><%= @city.name %></h1>
    <h2><em><%= @city.slogan %></em></h2>
    <p>Population: <%= @city.population %></p>
  </div>
</div>

<div class="categorySelectBg">
    <div class="categorySelect">
      <%= link_to 'All', city_articles_category_path(@city, "All"), :remote => true, class: "catAll"  %>
    </div>

    <% @categories.each do |c| %>
      <div class="categorySelect">
        <%= link_to c.name, city_articles_category_path(@city, c.name), :remote => true %>
      </div>
    <% end %>
</div>

<div class="container">
  <div class="articleSelectContainer">
    <div class="rows articles">
      <%= render collection: @articles, partial: 'all_city_articles', as: :article %>
    </div>
  </div>
</div>
