<div class="bannerCity">
  <%= image_tag "#{@city.name.downcase}.jpg", :class => "imageCity"%>
  <div class="bannerInfo">
    <h1><%= @city.name %></h1>
    <h2>Discover and connect with services in your city.</h2>
    <p>Currently available in Australia</p>
  </div>
</div>

<div class="categorySelectBg">
  <div class="container">

    <!-- <%= link_to city_articles_category_path(@city.name, 'All'), :remote => true do %><i class="fa fa-heartbeat" aria-hidden="true"></i><% end %> -->

    <div class="categorySelect">
      <%= link_to 'All', city_articles_category_path(@city, 'All'), :remote => true, :class => "catAll"  %>
    </div>
    <% @categories.each do |c| %>
      <div class="categorySelect">
        <%= link_to c.name, city_articles_category_path(@city, c.name, :anchor => c.name.downcase), :remote => true %>
      </div>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="articleSelectContainer">
    <div class="rows">
      <% @articles.each do |a| %>
      <div class='articleCont'>
        <%= link_to a.title, article_path(a), :class => 'articleSelect' %>
        <%= image_tag a.featured_image, :class => "articleImg" %>
      </div>
      <% end %>
    </div>
  </div>

  <!-- <h2><%= @city.name %></h2> -->
  <!-- <p><%= @city.description %></p> -->

  <% if user_signed_in? && current_user.admin? %>
    <%= button_to 'delete', @city, :method => 'delete'%>
    <!-- <%= link_to 'edit', edit_city_path(@city) %> -->
  <% end %>
</div>
