<%= javascript_include_tag 'highcharts.js' %>
<div class="row header">
  <%= image_tag "#{@city.name.downcase}.jpg", class: "imageCity" %>
  <div class="row text-center">
    <div class="col-md-12">
      <div class="carousel-caption" id="startchange">
        <h1><%= @city.name %></h1>
        <h2><em><%= @city.slogan %></em></h2>
        <div class="row">
          <div class="col-sm-6">
            <div class="ratings">
              <p>Weather  : <%= rating_for @city, 'weather', disable_after_rate: false %></p>
              <p>Cost of living : <%= rating_for @city, 'cost_of_living', disable_after_rate: false %></p>
              <p>Quality of life  : <%= rating_for @city, 'quality_of_life', disable_after_rate: false %></p>
              <p>Safety  : <%= rating_for @city, 'safety', disable_after_rate: false %></p>
            </div>
          </div>
          <div class="col-sm-6">
            <%= tag :div, class: "city-highchart", data: {city_id: @city.id, name: @city.slug} %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-12 col-sm-12">
      <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group">
        <%= render @categories %>
      </div>
    </div>
  </div>

  <%= render 'all_city_articles' %>
</div>
<script>
  $(function(){
    $(".btn-pref .btn").click(function (event) {
        $(".btn-pref .btn").removeClass("btn-primary").addClass("btn-default");
        $(this).removeClass("btn-default").addClass("btn-primary");
    });

    $('.article-category').on('click', function(){
      history.pushState({extraData: $(this).attr('id')}, '', '#' + $(this).attr('id'));
    });
  });
</script>
