<div class="row banner">
  <div class="col-sm-12">
   <%= image_tag "#{@city.name.downcase}.jpg", class: "imageCity" %>
    <div class="content">
      <h1><%= @city.name %></h1>
      <h2><em><%= @city.slogan %></em></h2>
    </div>
  </div>
</div>

<div class="row categorySelectBg">
  <div class="col-sm-3 categorySelect">
    <%= link_to 'All', city_category_path(@city, "All"), remote: true, class: "catAll"  %>
  </div>
  <% @categories.each do |category| %>
    <div class="col-sm-3 categorySelect">
      <%= link_to category.name, city_category_path(@city, category), remote: true %>
    </div>
  <% end %>
</div>

<% breadcrumb :site_root, style: :bootstrap %>
<div class="row">
  <div class="col-sm-12 articleSelectContainer">
    <div class="row articles">
      <%= render collection: @articles, partial: 'all_city_articles', as: :article %>
    </div>
  </div>
</div>
