<% breadcrumb :admin_user, @user, style: :bootstrap %>
<div class="signin">
  <%= simple_form_for [:admin, @user], input_html: { class: 'form-control' } do |f| %>
    <div class="row admin form-group m-t-2">
      <div class="col-sm-8 col-sm-offset-2">
        <h2><%= @user.new_record? ? 'New User' : 'Edit User' %></h2>
        <div class="form-group row">
          <div class="col-sm-12">
            <%= f.input :username, input_html: { class: 'form-control' } %>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-12">
            <%= f.input :email, input_html: { class: 'form-control' } %>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-12">
            <%= f.input :password, input_html: { class: 'form-control' } %>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-12">
            <%= f.input :password_confirmation, input_html: { class: 'form-control' } %>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-12">
            <div class="form-check">
              <%= f.input :admin, input_html: { class: 'form-check-input', wrap: :soft, rows: 2 }, label: "Admin?", label_html: { class: 'form-check-label label-style' } %>
            </div>
          </div>
        </div>
        <%= f.submit class: 'btn btn-primary' %>
        <%= link_to 'Back', admin_users_path, class: 'btn btn-warning' %>
      </div>
    </div>
  <% end %>
</div>
