<% breadcrumb :admin_user, @user, style: :bootstrap %>
<div class="signin">
  <%= simple_form_for [:admin, @user], input_html: { class: 'form-control' }, wrapper_mappings: { boolean: :vertical_boolean } do |f| %>
    <div class="row admin form-group m-t-2">
      <div class="col-sm-8 col-sm-offset-2">
        <h2><%= @user.new_record? ? 'New User' : 'Edit User' %></h2>
        <%= f.input :username %>
        <%= f.input :email %>
        <%= f.input :admin %>
        <%= f.submit class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
</div>
