<h2 class="ss-color">Request a consultation</h2>
<%= simple_form_for(current_user.user_detail.present? ? current_user.user_detail : current_user.create_user_detail, url: dashboard_consultations_path, method: :post) do |f| %>
    <h2>Visa Details</h2>
    <div class="form-group">
      <%= f.label :visa_status, label: "What visa are you currently on?" %>
      <%= f.select :visa_status, options_from_collection_for_select(@visa_types, "id", "name", f.object.visa_status),{}, {class: "form-control"}%>
    </div>

    <div class="form-group">
      <%= f.label :country_of_passport, label: "Name of country as shown on passport" %>
      <%= f.input :country_of_passport, as: :country, label: false, required: true %>
    </div>

     <div class="form-group">
      <%= f.label :visa_help_type, label: "What visa are you seeking?" %>
      <%= f.input :visa_help_type, collection: @visa_types, label: false, value: :name, selected: @selected_visa_type %>
    </div>
    <div class="form-group">
      <%= f.label :is_currently_in_desired_country, label: "Are you currently living in the country you wish to settle in?" %>
      <%= f.select :is_currently_in_desired_country, [['YES', true],["NO",false]],{}, {class: "form-control"}%>
    </div>


    <div class="form-group">
      <%= f.label :done_ielts, label: "Have you done IELTS in last two years?" %>
      <%= f.select :done_ielts, [['YES', true],["NO",false]],{}, {class: "form-control"}%>
    </div>

    <div class="form-group">
      <label for="visa_expiry">When does your visa expire?</label>
      <div class="input-group date default-datepicker">
        <%= f.input :visa_expiry_date, as: :string, input_html:{class: "datetimepicker"}, label: false, required: true %>
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :resume, label: "Upload resume" %>
      <%= f.file_field :resume, label: false, required: true %>
      <%= f.hidden_field :resume_cache %>
    </div>

      <h2>Appointment Details</h2>
    <%= f.simple_fields_for :appointment, current_user.appointment.present? ? current_user.appointment : current_user.create_appointment do |a| %>
      <div class="row">
          <div class='col-sm-6'>
            <div class="form-group">
              <%= a.label :appointment_date %>
              <div class="input-group date default-datetimepicker">
                <%= a.input :appointment_date, as: :string, label: false, required: true %>
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
                </span>
              </div>
            </div>
        </div>
      </div>
      <div class="row">
        <div class='col-sm-6'>
          <div class="form-group">
            <%= a.label :appointment_type, label: "Would you like a face to face or Skype consultation?" %>
            <%= a.input :appointment_type, label: false, collection: enum_collection(a, :appointment_types), include_blank: false %>
          </div>
        </div>
      </div>
      <!-- <div class="form-group"> -->
        <%#= appointment.label :require_translator, "Do you require a translator?" %>
        <%#= appointment.select :require_translator, [['YES', true],["NO",false]], {}, class:"form-control datepicker" %>
      <!-- </div> -->
      <!-- <div class="form-group"> -->
        <%#= appointment.label :language, "What language do you speak?" %>
        <%#= appointment.select :language, options_for_select(language_list), {}, class:"form-control datepicker" %>
      <!-- </div> -->
    <% end %>

    <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>

    <div class="row pay-row">
      <div class="col-md-12 text-center">
        <!-- <h3>IMPORTANT!</h3> -->
        <!-- <p>We respect yours and our agent's time. Hence we hold a small amount so both parties are commiteed. If you -->
          <!-- turn up to your consultation, we will refund your 100% amount. If you do not show up, we will keep this amount.</p> -->
      </div>
      <div class="col-md-12 text-center">
        <input type="submit" class="btn btn-custom" value = "PAY <%= number_to_currency @package_detail.price %>">
      </div>

    </div>
<% end %>
