<!DOCTYPE html>
<html>
<head>
  <title>EasySettler</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag Ckeditor.cdn_url %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
  <div class="nav">
    <div class="navLeft">
      <%= link_to "", root_path, :class => 'nav homeicon' %>
    </div>
    <div class="navRight">
      <%= link_to 'How It Works', root_path, :class => "" %>
      <%= link_to 'Jobs', root_path, :class => "" %>
      <%= link_to 'Inspirations', root_path, :class => "" %>
      <%= link_to 'Help & Advice', root_path, :class => " helpMenuItem" %>
      <% if @current_user.present? %>
        <%= link_to "Logout #{ @current_user.name }", login_path, :method => 'delete', :class => "logoutButton " %>
      <% else %>
        <%= link_to 'Sign in', login_path, :class => "signInOutButton " %>
        <%= link_to 'Sign up', new_user_path, :class => "signInOutButton "  %>
      <% end %>
    </div>
  </div>
</nav>

<div class="logo"></div>


<%= yield %>

</body>
</html>
