<!DOCTYPE html>
<html>
<head>
  <title>EasySettler</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag Ckeditor.cdn_url %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
  <div class="nav">
    <div class="navLeft">
      <%= link_to "", root_path, :class => 'nav homeicon' %>
    </div>
    <div class="navRight">
      <%= link_to 'How It Works', "#{"#howItWorks"}", :class => "" %>
      <%= link_to 'Jobs', root_path, :class => "" %>
      <%= link_to 'Inspirations', root_path, :class => "" %>
      <%= link_to 'Help & Advice', root_path, :class => " helpMenuItem" %>
      <% if @current_user.present? %>
        <%= link_to "Logout #{ @current_user.name }", login_path, :method => 'delete', :class => "logoutButton " %>
      <% else %>
        <%= link_to 'Sign in', login_path, :class => "signInOutButton " %>
        <%= link_to 'Sign up', new_user_path, :class => "signInOutButton "  %>
      <% end %>
    </div>
  </div>
</nav>

<div class="logo"></div>


<%= yield %>

<footer>
  <div class="container">
    <div class="footer">
      <div class="Company column">
        <ul>
          <li><h3>Company</h3></li>
          <li>Home</li>
          <li>About Us</li>
          <li>Jobs</li>
          <li>Inspirations</li>
          <li>Become A Partner</li>
        </ul>
      </div>
      <div class="Support column">
        <ul>
          <li><h3>Support</h3></li>
          <li>FAQ</li>
          <li>Terms of services</li>
          <li>Privacy policy</li>
          <li>hello@simplesettler.com</li>
        </ul>
      </div>
      <div class="Follow column">
        <ul>
          <li><h3>Suscribe Newsletter</h3></li>
          <li><%= text_field :search, nil, :class => 'enterEmail', :placeholder => 'Enter your email' %>
          <%= submit_tag "SUBMIT", :class => 'submitEmail' %></li>
          <li><h3>Follow us</h3></li>
        </ul>
      </div>
    </div>
    </div>
  </div>
</footer>

</body>
</html>
