<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "register-form" }) do |f| %>
  <h3>Register</h3>
  <%= devise_error_messages! %>
  <%= f.input :first_name, autofocus: true, input_html: { placeholder: "First Name", class: "spacer" }, label: false  %>
  <%= f.input :last_name, autofocus: true, input_html: { placeholder: "Last Name", class: "spacer" }, label: false  %>
  <%= f.input :email, autofocus: true, input_html: { placeholder: "Email", class: "spacer" }, label: false  %>
  <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
  <% end %>
  <%= f.input :password, autocomplete: "off", input_html: { placeholder: "Password" }, label: false %>
  <%= f.input :password_confirmation, autocomplete: "off", input_html: { placeholder: "Password Confirmation" }, label: false %>
  <%= f.submit "Sign up!", class: "ss-button" %>
  <p class="message">Have an account? <%= link_to "Sign in", new_user_session_path %></p>
<% end %>
