<div class="row no-gutters signin">
  <div class="col-sm-4 offset-sm-4 signinCont">
    <div class="header">
      <h2>Sign up</h2>
    </div>
    <div class="row content">
      <div class="col-sm-12">
        <%= simple_form_for(resource, as: resource_name, url: registration_path do |f| %>
          <%= devise_error_messages! %>

          <div class="row">
            <div class="col-sm-12">
              <%= f.input :email, autofocus: true, input_html: { class: "form-control" }  %>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
              <%= f.input :password, autocomplete: "off", input_html: { class: "form-control" } %>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <%= f.input :password_confirmation, autocomplete: "off", input_html: { class: "form-control" } %>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <%= f.submit "Sign up!", class: "btn btn-primary signinButton" %>
            </div>
          </div>
        <% end %>
        <div class="links">
          <%= render "users/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
